<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.tv.payali.ailtvsdk"
    version="2.0">

    <name>Ali Player</name>
    <description>Ali YunOS Plugin</description>
    <license>pearl</license>
    <keywords>ailtvsdk</keywords>
    <repo>https://github.com/pearl-wu/yunospayDEMO.git</repo>
    <issue>https://github.com/pearl-wu/yunospayDEMO.git</issue>

    <js-module src="www/yunospay.js" name="YunosPay">
        <clobbers target="YunosPay" />
    </js-module>
	
    <platform name="android">
    	
	<config-file target="AndroidManifest.xml" parent="/*">
		  <uses-permission android:name="android.permission.INTERNET" />
	</config-file>
    	
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YunOSOrder">
                <param name="android-package" value="com.tv.payali.MainActivity"/>
            </feature>
        </config-file>
        <source-file src="src/com/tv/payali/MainActivity.java" target-dir="src/com/tv/payali/" />
        <source-file src="src/com/tv/payali/TestAccount.java" target-dir="src/com/tv/payali/" />
        <source-file src="src/com/tv/payali/TestConstants.java" target-dir="src/com/tv/payali/" />
        <source-file src="src/com/tv/payali/TestToast.java" target-dir="src/com/tv/payali/" />
        <source-file src="src/com/tv/payali/Base64Utils.java" target-dir="src/com/tv/payali/" />
        <source-file src="src/com/tv/payali/RSAUtils.java" target-dir="src/com/tv/payali/" />
    </platform>

</plugin>
